fastapi
uvicorn[standard]
pytest
pytest-mock
pytest-asyncio
httpx[http2]
requests
sqlalchemy
pydantic
pymysql
cryptography

#pillow
#opencv-python
#torchvision
#torchaudio
#timm
#tensorflow
#keras
#numpy
#pandas
#python-multipart
#usda-api
