fastapi
uvicorn[standard]
pytest
pytest-mock
pytest-asyncio
httpx[http2]
#pillow
#opencv-python

#
#torchvision
#torchaudio
#timm

#tensorflow
#keras

requests
#numpy
#pandas
sqlalchemy
#python-multipart
pydantic
pymysql
cryptography
#usda-api
