name: CI/CD Pipeline

on:
  push:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      deploy_to_server:
        description: "Deploy to server"
        required: true
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

env:
  REGISTRY: ghcr.io
  GHCR_PASS: ${{ secrets.GHCR_TOKEN }}
  SERVER_IMAGE_NAME: server
  TELEGRAM_BOT_IMAGE_NAME: bot-frontend
  WEB_IMAGE_NAME: web-frontend


jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - name: server
            context: ./server
            dockerfile: ./server/Dockerfile
          - name: bot-frontend
            context: ./telegram-bot
            dockerfile: ./telegram-bot/Dockerfile
          - name: web-frontend
            context: ./web
            dockerfile: ./web/Dockerfile

    steps:
      - uses: actions/checkout@v4

      # --- Python tests ---
      - name: Setup Python
        if: matrix.name == env.TELEGRAM_BOT_IMAGE_NAME || matrix.name == env.SERVER_IMAGE_NAME
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Run Python unit tests for ${{ matrix.name }}
        id: unit_tests_${{ matrix.name }}
        if: matrix.name == env.TELEGRAM_BOT_IMAGE_NAME || matrix.name == env.SERVER_IMAGE_NAME
        run: |
          cd ${{ matrix.context }}
          pip install -r requirements.txt
          pytest -v test/unit > ../test-${{ matrix.name }}-unit.log 2>&1
          TEST_EXIT_CODE=$?
          echo "test_exit_code=$TEST_EXIT_CODE" >> $GITHUB_OUTPUT
        continue-on-error: true

      - name: Run Python integration tests for ${{ matrix.name }}
        id: integration_tests_${{ matrix.name }}
        if: matrix.name == env.SERVER_IMAGE_NAME
        run: |
          cd ${{ matrix.context }}
          pytest -v test/integration > ../test-${{ matrix.name }}-integration.log 2>&1
          TEST_EXIT_CODE=$?
          echo "test_exit_code=$TEST_EXIT_CODE" >> $GITHUB_OUTPUT
        continue-on-error: true

      - name: Run Python e2e tests for ${{ matrix.name }}
        id: e2e_tests_${{ matrix.name }}
        if: matrix.name == env.SERVER_IMAGE_NAME
        run: |
          cd ${{ matrix.context }}
          pytest -v test/e2e > ../test-${{ matrix.name }}-e2e.log 2>&1
          TEST_EXIT_CODE=$?
          echo "test_exit_code=$TEST_EXIT_CODE" >> $GITHUB_OUTPUT
        continue-on-error: true

      # --- Web tests (Playwright) ---
      - name: Setup Node.js
        if: matrix.name == env.WEB_IMAGE_NAME
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies (web)
        if: matrix.test_type == 'web'
        run: |
          cd ${{ matrix.context }}
          npm ci

      - name: Run Playwright tests
        id: web_e2e_tests
        if: matrix.test_type == 'web'
        run: |
          cd ${{ matrix.context }}
          npx playwright install --with-deps
          npx playwright test > ../test-${{ matrix.name }}-playwright.log 2>&1
          TEST_EXIT_CODE=$?
          echo "test_exit_code=$TEST_EXIT_CODE" >> $GITHUB_OUTPUT
        continue-on-error: true

      # --- Upload logs ---
      - name: Upload test logs for ${{ matrix.name }}
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-logs-${{ matrix.name }}
          path: test-${{ matrix.name }}-*.log

      # --- Build images and push into GitHub repository ---
      - name: Login into ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ env.GHCR_PASS }}

      - name: Extract Docker metadata
        id: meta
        # if: steps.integration_tests.outputs.test_exit_code == '0'
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.name }}

      - name: Build and push ${{ matrix.name }} image
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-to-server:
    name: Deploy to server
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.deploy_to_server == 'true' }}
    needs: build-and-push
    steps:
      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Configure kubectl
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 --decode > ~/.kube/config

      - name: Ensure namespace exists
        run: |
          kubectl get ns nutri-sys-ns >/dev/null 2>&1 || kubectl create ns nutri-sys-ns

      - name: Create telegram secret in Kubernetes
        run: |
          kubectl delete secret telegram-secret -n nutri-sys-ns --ignore-not-found
          kubectl create secret generic telegram-secret \
            --from-literal=token=${{ secrets.TELEGRAM_TOKEN }} \
            -n nutri-sys-ns

      - name: Create GHCR secret in Kubernetes
        run: |
          kubectl delete secret ghcr-secret -n nutri-sys-ns --ignore-not-found
          kubectl create secret docker-registry ghcr-secret \
            --docker-server=${{ env.REGISTRY }} \
            --docker-username=${{ github.actor }} \
            --docker-password=${{ env.GHCR_PASS }} \
            -n nutri-sys-ns

      - name: Deploy with Helm
        run: |
          helm upgrade --install nutri-sys ./chart -n nutri-sys-ns